.c-ricercaLink{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280px;
  transition: all .4s ease-in-out;

  &:hover{
    background-size: 400px;
  }

  &-01{
    background-image: url(./../images/asterics.svg);
  }
  &-02{
    background-image: url(./../images/02.svg);
  }
  &-03{
    background-image: url(./../images/03.svg);
  }
  &-04{
    background-image: url(./../images/04.svg);
  }

  &-disabled-01{
    background-size: 300px;
    background-image: url(./../images/01-off.svg);
  }
  &-disabled-02{
    background-size: 300px;
    background-image: url(./../images/02-off.svg);
  }
  &-disabled-03{
    background-size: 300px;
    background-image: url(./../images/03-off.svg);
  }
  &-disabled-04{
    background-size: 380px;
    background-image: url(./../images/04-off.svg);
  }


  >a{

    &:hover{

      h3{
        @apply u-underline;

      }

      .o-arrow{
        @apply -u-translate-x-30 u-scale-100;

      }

  
    }
  }

}

.c-whoBanner{
  background-position: 55%;
  background-repeat: no-repeat;
  background-image: url(./../images/dealerBg.svg);
}