/* ***** ----------------------------------------------- ***** **
** ***** Utilities/Layout
** ***** ----------------------------------------------- ***** */

@layer utilities {
  
  .l-container {

    @apply u-w-full u-mx-auto u-px-30 u-relative sm:u-px-50;
    max-width: 145rem;

    &--small {
      @apply u-w-full u-mx-auto u-px-30 u-relative sm:u-px-50;
      max-width: 110rem;
    }

    &--wide {  
      @apply u-w-full u-mx-auto u-px-30 u-relative sm:u-px-50;
      max-width: 215rem;
    }

  }
}
